{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", "jsx", "ts", "tsx"],
        "alias": {
          "_assets": "./src/assets",
          "_components": "./src/components",
          "_styles": "./src/styles"
        }
      }
    ],
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
